In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
pd.set_option('display.max_columns', None)

In [ ]:
df= pd.read_parquet('data/processed/base_tratada.parquet')

In [19]:
print("Dimensão do dataset:", df.shape)

Dimensão do dataset: (53735, 71)

In [20]:
df.dtypes

vaga_id                                        object
titulo_vaga                                    object
cliente                                        object
requisitante                                   object
analista_responsavel                           object
                                            ...
cargo_atual_unidade                            object
cargo_atual_data_admissao              datetime64[ns]
cargo_atual_data_ultima_promocao       datetime64[ns]
cargo_atual_nome_superior_imediato             object
cargo_atual_email_superior_imediato            object
Length: 71, dtype: object

In [21]:
df.isnull().sum()

vaga_id                                    0
titulo_vaga                                0
cliente                                    0
requisitante                               0
analista_responsavel                       0
                                       ...
cargo_atual_unidade                        0
cargo_atual_data_admissao              52839
cargo_atual_data_ultima_promocao       52839
cargo_atual_nome_superior_imediato         0
cargo_atual_email_superior_imediato        0
Length: 71, dtype: int64

In [23]:
df.describe()

,valor_venda,informacoes_profissionais_remuneracao,formacao_e_idiomas_ano_conclusao
count,0.0,7.802000e+03,11120.000000
mean,NaN,8.027514e+03,1641.972212
std,NaN,2.267063e+05,779.791612
min,NaN,0.000000e+00,0.000000
25%,NaN,0.000000e+00,1993.000000
50%,NaN,0.000000e+00,2010.000000
75%,NaN,3.200000e+03,2018.000000
max,NaN,1.000000e+07,2925.000000

In [25]:
df.describe(include='object')

,vaga_id,titulo_vaga,cliente,requisitante,analista_responsavel,modalidade,nome_prospect,codigo_prospect,situacao_candidato,comentario,recrutador,infos_basicas_telefone_recado,infos_basicas_telefone,infos_basicas_objetivo_profissional,infos_basicas_inserido_por,infos_basicas_email,infos_basicas_local,infos_basicas_sabendo_de_nos_por,infos_basicas_codigo_profissional,infos_basicas_nome,informacoes_pessoais_data_aceite,informacoes_pessoais_nome,informacoes_pessoais_cpf,informacoes_pessoais_fonte_indicacao,informacoes_pessoais_email,informacoes_pessoais_email_secundario,informacoes_pessoais_telefone_celular,informacoes_pessoais_telefone_recado,informacoes_pessoais_sexo,informacoes_pessoais_estado_civil,informacoes_pessoais_pcd,informacoes_pessoais_endereco,informacoes_pessoais_skype,informacoes_pessoais_url_linkedin,informacoes_pessoais_facebook,informacoes_profissionais_titulo_profissional,informacoes_profissionais_area_atuacao,informacoes_profissionais_conhecimentos_tecnicos,informacoes_profissionais_certificacoes,informacoes_profissionais_outras_certificacoes,informacoes_profissionais_nivel_profissional,formacao_e_idiomas_nivel_academico,formacao_e_idiomas_nivel_ingles,formacao_e_idiomas_nivel_espanhol,formacao_e_idiomas_outro_idioma,cv_pt,cv_en,formacao_e_idiomas_instituicao_ensino_superior,formacao_e_idiomas_cursos,informacoes_pessoais_download_cv,informacoes_profissionais_qualificacoes,informacoes_profissionais_experiencias,formacao_e_idiomas_outro_curso,cargo_atual_id_ibrati,cargo_atual_email_corporativo,cargo_atual_cargo_atual,cargo_atual_projeto_atual,cargo_atual_cliente,cargo_atual_unidade,cargo_atual_nome_superior_imediato,cargo_atual_email_superior_imediato
count,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,6063,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735,53735
unique,11277,9909,111,24,63,1,26241,29399,1,12186,77,2,23251,5320,64,23313,616,15,23458,23189,8405,23189,2,1556,23313,2,23251,2,4,8,4,28,2,2,2,5320,692,1903,233,721,11,23,7,7,33,21936,2,163,128,3884,2,2,2,45,2,18,2,6,4,2,2
top,9192,SAP SD,Morrison Ltd,Cecília Freitas,Srta. Bella Ferreira,,Sra. Maria Helena Castro,833,,,Srta. Bella Ferreira,,None,,None,None,,,None,None,Cadastro anterior ao registro de aceite,None,,:,None,,None,,,,,,,,,,,,,,,,,,-,None,,None,None,27660.pdf,None,None,None,None,None,None,None,None,None,None,None
freq,25,272,7497,12908,5232,53735,76,73,53735,39180,4986,45071,8664,20278,8664,8664,23219,29249,8664,8664,29225,8664,45071,29243,8664,45071,8664,45071,32201,34191,34554,23345,45071,45071,45071,20278,33951,39637,43840,43197,44778,33129,33667,33970,42434,8664,45071,42615,42615,53,52807,52807,52859,52807,52807,52807,52807,52807,52807,52807,52807

In [26]:
df.describe(include='datetime')

C:\Users\jhona\AppData\Local\Temp\ipykernel_15312\2102073941.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(include='datetime')
C:\Users\jhona\AppData\Local\Temp\ipykernel_15312\2102073941.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(include='datetime')
C:\Users\jhona\AppData\Local\Temp\ipykernel_15312\2102073941.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(include='datetime')
C:\Users\jhona\AppData\Local\Temp\ipykernel_15312\2102073941.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(include='datetime')
C:\Users\jhona\AppData\Local\Temp\ipykernel_15312\2102073941.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(include='datetime')
C:\Users\jhona\AppData\Local\Temp\ipykernel_15312\2102073941.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(include='datetime')
C:\Users\jhona\AppData\Local\Temp\ipykernel_15312\2102073941.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df.describe(include='datetime')

,data_candidatura,ultima_atualizacao,infos_basicas_data_criacao,infos_basicas_data_atualizacao,informacoes_pessoais_data_nascimento,cargo_atual_data_admissao,cargo_atual_data_ultima_promocao
count,53735,49823,45047,45068,17532,896,896
unique,1793,1583,23413,23428,4285,35,35
top,2021-06-23 00:00:00,2022-01-13 00:00:00,2017-11-14 07:49:06,2024-04-30 16:28:57,1969-12-31 00:00:00,1969-12-31 00:00:00,1969-12-31 00:00:00
freq,142,110,73,73,5998,836,836
first,2018-04-12 00:00:00,2018-04-12 00:00:00,2017-01-09 11:52:16,2017-01-09 13:26:28,1706-06-24 00:00:00,1969-12-31 00:00:00,1969-12-31 00:00:00
last,2025-12-02 00:00:00,2025-12-02 00:00:00,2024-12-02 17:02:59,2025-12-02 15:59:51,2023-12-14 00:00:00,2019-11-02 00:00:00,2019-11-02 00:00:00

In [27]:
categoricas = [
    'modalidade', 'situacao_candidato', 'informacoes_pessoais_sexo',
    'informacoes_pessoais_estado_civil', 'informacoes_profissionais_nivel_profissional',
    'formacao_e_idiomas_nivel_academico'
]

for col in categoricas:
    if col in df.columns:
        print(f"\nDistribuição de {col}:")
        print(df[col].value_counts(dropna=False))

Distribuição de modalidade:
    53735
Name: modalidade, dtype: int64

Distribuição de situacao_candidato:
    53735
Name: situacao_candidato, dtype: int64

Distribuição de informacoes_pessoais_sexo:
             32201
Masculino    10728
None          8664
Feminino      2142
Name: informacoes_pessoais_sexo, dtype: int64

Distribuição de informacoes_pessoais_estado_civil:
                          34191
None                       8664
Casado                     5131
Solteiro                   4079
Divorciado                  860
União Estável               689
Separado Judicialmente       99
Viúvo                        22
Name: informacoes_pessoais_estado_civil, dtype: int64

Distribuição de informacoes_profissionais_nivel_profissional:
                          44778
None                       8664
Sênior                      175
Especialista                 46
Pleno                        27
Analista                     16
Líder                        15
Júnior                        9
Gerente                       2
Técnico de Nível Médio        2
Estagiário                    1
Name: informacoes_profissionais_nivel_profissional, dtype: int64

Distribuição de formacao_e_idiomas_nivel_academico:
                                 33129
None                              8664
Ensino Superior Completo          5314
Pós Graduação Completo            3042
Ensino Superior Cursando          1256
Ensino Superior Incompleto         574
Pós Graduação Cursando             494
Pós Graduação Incompleto           301
Mestrado Completo                  284
Ensino Técnico Completo            186
Ensino Médio Completo              172
Mestrado Incompleto                117
Mestrado Cursando                   51
Ensino Fundamental Completo         47
Ensino Técnico Cursando             22
Doutorado Incompleto                21
Doutorado Cursando                  18
Doutorado Completo                  14
Ensino Técnico Incompleto            8
Ensino Fundamental Incompleto        6
Ensino Fundamental Cursando          6
Ensino Médio Incompleto              6
Ensino Médio Cursando                3
Name: formacao_e_idiomas_nivel_academico, dtype: int64

In [29]:
numericas = [
    'valor_venda', 'informacoes_profissionais_remuneracao'
]

for col in numericas:
    if col in df.columns:
        print(f"\nAnálise de {col}:")
        print(df[col].describe())

Análise de valor_venda:
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: valor_venda, dtype: float64

Análise de informacoes_profissionais_remuneracao:
count    7.802000e+03
mean     8.027514e+03
std      2.267063e+05
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      3.200000e+03
max      1.000000e+07
Name: informacoes_profissionais_remuneracao, dtype: float64

In [30]:
datas = [
    'data_candidatura', 'ultima_atualizacao',
    'informacoes_pessoais_data_nascimento', 'cargo_atual_data_admissao'
]

for col in datas:
    if col in df.columns:
        print(f"\n{col} - intervalo de datas:")
        print(df[col].min(), "→", df[col].max())

data_candidatura - intervalo de datas:
2018-04-12 00:00:00 → 2025-12-02 00:00:00

ultima_atualizacao - intervalo de datas:
2018-04-12 00:00:00 → 2025-12-02 00:00:00

informacoes_pessoais_data_nascimento - intervalo de datas:
1706-06-24 00:00:00 → 2023-12-14 00:00:00

cargo_atual_data_admissao - intervalo de datas:
1969-12-31 00:00:00 → 2019-11-02 00:00:00

In [34]:
if 'data_candidatura' in df.columns:
    df['data_candidatura'] = pd.to_datetime(df['data_candidatura'], errors='coerce')
    df['ano_mes_candidatura'] = df['data_candidatura'].dt.to_period('M')
    
    # Contar as candidaturas por ano-mês e exibir os valores
    candidaturas_por_mes = df['ano_mes_candidatura'].value_counts().sort_index()
    print(candidaturas_por_mes)

2018-04     1
2018-05     1
2018-06     2
2018-07    25
2018-10     4
           ..
2025-08    24
2025-09    16
2025-10    57
2025-11    28
2025-12    50
Freq: M, Name: ano_mes_candidatura, Length: 91, dtype: int64

In [33]:
df.duplicated().sum()

0